.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 45px;
    background: #F8CF07;
    position:fixed;
    z-index: 1;
}

.link{
    width: 100px;
}
.logo{
    width: 100px;
}

.loggedIn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    padding-top: 10px 
}

.loggedOut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding-top: 10px;
}
