.restContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px black;
    margin-top:45px;
    height: auto;
}

.main {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sort {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}



.body{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.filter{
    /* width: 30%; */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    width: auto;
    text-align: left
}

.image-div{
    width: auto;
    height: 450px;
    background: url('../rest_1.jpg') center; 
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position:  */
    opacity: 0.9 
 }

 .buttons {
    background-color: #F16451;
    border: 1px solid #F16451;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
    width: 100px;
    height: fit-content;
  }

  .buttons:hover{
    background-color: white;
    color: #F16451;
    font-weight: bold;
    cursor: pointer;
  }

  .buttons-container{
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  /* .btn{
      /* margin: 5px; */
      /* padding-top: 5px; */
