.restContainer{
    margin-top: 80px;
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background: yellow;
    width: 100%;
    margin-top: 880px;
}

.body{
    display: flex;
    flex-direction: row; 
}

.filter{
    /* width: 30%; */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    width: auto;
    text-align: left
}

.test {
    display: flex;
    flex-direction: column;
}