.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 800px;
    width: auto;
    overflow: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.card {
    padding:10px;
    width: auto;
}